@import "app/src/styles/_variables.scss";

.chatWindow {
  width: 330px;
  max-width: 330px;
  overflow: hidden;
  height: calc(100vh - 62px); // 62px is the height of the header
  background: rgba(255, 255, 255, 0.80);
  box-shadow: -14px 8px 20px 0px rgba(19, 25, 35, 0.10);
  backdrop-filter: blur(25px);
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;


}

.headerText {
  font-family: $font-stack-primary;
  color: #131923;
  font-size: 20px;
  font-weight: 600;
}

.MessageList {
    padding: 0 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 200px);

    &::-webkit-scrollbar {
        width: 8px;

    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 8px;
    }



}

.ChatGPTMessage {
  border-radius: 16px;
  width: 100%;

  p {
    color: #131923;
    font-family: $font-stack-secondary;
    font-size: 14px;
    font-weight: 400;
  }
}

.ActionMenu {
  span {
    color: #787878;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  ul {

    li {
      height: 38px;
      padding: 8px;
      border-radius: 4px;
      color: #131923;
      font-family: $font-stack-primary;
      font-size: 14px;
      font-weight: 400;

      &:hover {
        background: #F1F5FF;
        cursor: pointer;
      }
    }
  }
}

.ChatGPTMessageForUser {
  background: #F1F2FB;
}

.ChatGPTMessageForBot {
  background: #FBF2E9;
}

.InteractionIcons {
  svg {
    box-sizing: content-box;
    padding: 4px;
    transition: all 0.2s ease-in-out;
  }
  svg:hover {
    cursor: pointer;
    border-radius: 50px;
    background: #E1E1E1;

  }


}

.MessageInputContainer {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
  padding: 0 16px;

  input {
    width: 100%;
    height: 48px;
    border-radius: 50px;
    background: #F7F8FB;
    padding: 0 16px;
    border: none;
    outline: none;

    color: #787878;
    font-family: $font-stack-primary;
    font-size: 16px;
    font-weight: 400;
  }

}

.OptionMenu {
 ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border-bottom: 2px solid #C2CBD9;

   h1 {
     font-family: $font-stack-primary;
     color: #131923;;
     font-size: 18px;
     font-weight: 500;
   }

   li {
     color: #131923;
     font-size: 14px;
     font-weight: 400;
     border-radius: 50px;
     background: #EAEDFF;
     padding: 8px 16px;
     margin-bottom: 8px;
     cursor: pointer;
     font-family: $font-stack-primary;

   }
 }
}