@import "app/src/constants/fonts.scss";

$font-stack-primary: "Figtree", sans-serif;
$font-stack-secondary: "Inter", sans-serif;

$dark-color: #131923;
$light-color: #feffff;
$gray-color: #787878;
$primary-color: #f1f5ff;

$chat-user-color: #f1f2fb;
$chat-bot-color: #fbf2e9;
$icon-bg-color: #e1e1e1;
$input-bg-color: #f7f8fb;

$option-border-color: #c2cbd9;
$option-bg-color: #eaedff;

$chat-loading-color: #0009a5;
